kind: Deployment
apiVersion:	extensions/v1beta1
metadata:
  name: kdemo-dep
spec:
  replicas: 3
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  minReadySeconds: 30
  template:
    metadata:
      labels:
        name: kdemo
        visualize: 'true'
    spec:
      containers:
      - name: kdemo
        image: ikester/kdemo:v2
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 8080
      terminationGracePeriodSeconds: 1